<div class="container-fluid">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title ">Student List</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 ">
                        <div class="form-inline form-group">
                            <label for="exampleInputEmail1">Filter By Name:</label>
                            <input type="text" class="form-control" placeholder="" [(ngModel)]='listFilter'>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 ">
                        <button type="" class="btn btn-primary" [routerLink]="['/addstudent']"> Add Student</button>
                    </div>

                </div>
                <div class="row">
                    <h4>Filtered by Name: {{listFilter}}</h4>
                </div>
                <div class="row" *ngIf="students && students.length">
                    <table class="table table-striped">
                        <th>Roll No</th>
                        <th>Name </th>
                        <th>Branch</th>
                        <th></th>
                        <th></th>
                        <tr *ngFor="let student of filteredStudents">
                            <td>{{student.rollNo}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.branch}}</td>
                            <td><a [routerLink]="['/students',student._id]"> View Details</a></td>
                            <td><button class="btn btn-default" (click)="removeStudent(student._id)"><span class="glyphicon glyphicon-trash"></span></button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>